# Latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# Android cache benchmarking
CacheBenchmarking/*.iml
CacheBenchmarking/.gradle
CacheBenchmarking//local.properties
CacheBenchmarking//.idea/workspace.xml
CacheBenchmarking//.idea/libraries
CacheBenchmarking/.DS_Store
CacheBenchmarking//build
CacheBenchmarking//captures